# build files
build

# redundant folders
intel_image_classification
vehicles_image_classification
dog-breed

# make files for clean, predict, train, tune and unlearn
abcboost_clean
abcboost_predict
abcboost_train
abcboost_tune
abcboost_unlearn

# train and test directories
coffee-bean
dog-breed